 /* Reduce the font size of list items */
.list-group-item {
    font-size: 1.0rem; /* Adjust the value as needed */
}

/* Reduce the font size of headings */
h3 {
    font-size: 1.2rem; /* Adjust the value as needed */
}

/* Reduce the font size of buttons */
.btn {
    font-size: 0.9rem; /* Adjust the value as needed */
}

/* Remove underlines for all links */
a {
    text-decoration: none;
}

/* Optionally, you can add a hover effect */
a:hover {
    text-decoration: underline; /* Underline on hover if desired */
}

/* Enlarge title text in title block banner */
.quarto-title-banner h1 {
  font-size: 3rem; /* Adjust size as needed */
  font-weight: bold;
}

/* Optional: Enlarge subtitle text */
.quarto-title-banner h2 {
  font-size: 1.8rem; /* Adjust size as needed */
}