/* css styles */

/* Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Nanum Gothic', sans-serif;*/
    font-family: 'IBM Plex Sans', sans-serif;
}

/* Remove underlines for all links */
a {
    text-decoration: none;
}

/* Navbar   Color */
/* Yale   #00356b */
/* Yonsei #00205B */
.navbar {
    background-color: #00205B; /* Your existing background color */
    color: white; /* Text color */
    padding-top: 0.5rem; /* Adjust this value to reduce the top padding */
    padding-bottom: 0.5rem; /* Adjust this value to reduce the bottom padding */
    min-height: 3rem; /* Optionally, set a minimum height */
}

.navbar-brand, .navbar-nav .nav-link {
    font-size: 1rem; /* Optionally, adjust the font size for smaller text */
    padding-top: 0.25rem; /* Fine-tune the padding within items */
    padding-bottom: 0.25rem; /* Fine-tune the padding within items */
}

/* Regular link color */
a {
    color: #407EC9; /* Set your preferred color for regular links */
}

/* Hovered link color */
a:hover {
    color: #ff6600; /* Set your preferred color when hovering over a link */
    text-decoration: underline; /* Optional: underline on hover */
}

/* Active link color (when the link is clicked) */
a:active {
    color: #ff0000; /* Set your preferred color for active links */
}

/* Hide the main title beneath the main photo */
.page-title, h1 {  /* Adjust this selector based on the HTML structure */
    display: none;  /* This will hide the title completely */
}